# Compiled source #
###################
*.o
*.so
Makefile

# Executables #
##############
neurongen

# System files #
# ##############
.DS_Store

# Output files #
################
cons.txt
sizes.txt
axons.txt
map.txt
*.gexf
