# Compiled source #
###################
*.o
*.so
Makefile

# Executables #
##############
neurongen
batch.py

# System files #
# ##############
.DS_Store
*sublime*

# Output files #
################
cons.txt
sizes.txt
axons.txt
map.txt
*.gexf

# Patterns #
############
#patterns/*

